@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "graphic";
    src: url(../public/fonts/Graphik.otf);
  }
  @font-face {
    font-family: "hezargan";
    src: url(../public/fonts/Hezargan.ttf);
  }
}

:root {
  --primary: #5fb6f9;
  --black: #1e2832;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: graphic;
}
*{
  transition: 0.4s;
}

ul .NavLink {
  font-size: 0.9rem;
}
/* .active {
  color: var(--primary);
} */

.catItem:hover .catOverlay {
  z-index: -9999;
  width: 100%;
  border-radius: 0;
  transition: 0.5s;
}
.catItem img {
  transition: 0.5s;
}
.catItem:hover img {
  transform: scale(1.1);
}

.headerSeeProduct:hover svg {
  transform: translateX(-0.3rem);
}
